<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <!--DEVELOPMENT CONFIG-->
    <!--<add key="ClientId" value="a7c504bc-1e9d-4265-ab6d-e982a88b7bf2" />
    <add key="ClientSecret" value="MmdCELg5aq6hhh4z0g9dzA0dUQGviBV9q7dvl496a58=" />-->
    <!--PRODUCTION CONFIG-->
    <add key="ClientId" value="cfc4def7-40c2-42a2-a981-dedccc2240c7" />
    <add key="ClientSecret" value="QbEVxYkiQQVTHadkGkHmR4OZaIPhnIJ9M6HyGQltbks=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>