<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <!--DEVELOPMENT CONFIG-->
    <!--<add key="ClientId" value="18c4bfd7-a732-4fe4-a2c3-08ef7c0a5642" />
    <add key="ClientSecret" value="MmdCELg5aq6hhh4z0g9dzA0dUQGviBV9q7dvl496a58=" />-->
    <!--PRODUCTION CONFIG-->
    <add key="ClientId" value="14223fbe-391d-4a28-b633-5af2d0a01f2c" />
    <add key="ClientSecret" value="QbEVxYkiQQVTHadkGkHmR4OZaIPhnIJ9M6HyGQltbks=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>