<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!--Production-->
    <!--<add key="ClientId" value="7a044048-16c3-49ea-b356-b1e09b20ffd6" />
    <add key="ClientSecret" value="Ehak6Jp+2r/8C9t2ybh6WuCJ88stsrgFacH3VZ6m0oM=" />-->
    <!--Development-->
    <add key="ClientId" value="c5e22ea9-ae75-4ba1-85a1-97351fd3c24e" />
    <add key="ClientSecret" value="wN2YOBPraaSjHyiNhX//on/GM0sAxdTJy7QWr4xJNVU=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>